<section class="bg-white p-3 m-4 dark:bg-black">
    <h2 class="text-xl font-bold dark:text-blue-600">Friends</h2>
    <p class="dark:text-blue-700">({{totalFriends}}) friends</p>
    <hr class="mt-4">
    <div class="grid grid-cols-3 mt-5 gap-5 ">

   
    <div *ngFor="let friend of friends" >
        <a 
        (click)="getInfo(friend.username)"
        >
            <div class="border-2 shadow-lg text-center p-5 hover:-translate-y-0.5 hover:shadow-blue-400">
                <div 
                >
                    <img class="w-[300px] rounded-md" src="http://api-sales-app.josetovar.dev/pictures/{{friend.picture}}" alt="">
                
                </div>
                <p class="text-xl font-semibold mt-3 text-blue-500">{{friend.first_name}} {{friend.last_name}}</p>
            </div>
    
        </a>
      

    </div>
</div>

</section>