<div>
    <div class="flex m-4 border-b-red-500 shadow-lg shadow-blue-300 p-3 justify-between">
      <div class="flex justify-center">
        <a routerLink="" [queryParams]="{username:userData.username}">
      <div class="w-12 h-12 rounded-full overflow-hidden">
        <img
          src="https://api-sales-app.josetovar.dev/pictures/{{userData.picture}}"
          alt="profile photo loading...."
        />
      </div>
    </a>

      <p class="text-md text-black font-bold m-3">{{userData.first_name}} {{userData.last_name}}</p>
    </div>
      <button class="right-0"><i class="fa-solid fa-bars fa-lg"></i></button>
    </div>
    <div class="flex justify-between p-3">
      <p class="font-bold">friends</p>
      <button *ngIf="!searchFriend" (click)="searchFriend = true">
        <i class="fa-solid fa-magnifying-glass text-blue-500 border border-transparent hover:border-b-purple-500 hover:border-l-purple-500 p-2 rounded-full"></i>
      </button>

      <div *ngIf="searchFriend">
        <input 
        placeholder="search...."
        class="border-blue-500 border-2 rounded-lg p-1" type="text" />
        <button 
        (click)="searchFriend=false"
        class="-ml-5 text-blue-500">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <ul>
      <li *ngFor="let user of data">
        <div class="flex justify-between">
          <div class="flex">
            
            <div class="w-12 h-12 rounded-full overflow-hidden">
              <a         (click)="viewProfile(user.username)"              >
                <img 
                class="h-full w-full"
                src="http://api-sales-app.josetovar.dev/pictures/{{ user.picture }}" alt="profile photo" />
              </a>
             
            </div>
            <p class="text-md text-black font-bold m-3">{{ user.first_name }} {{ user.last_name }}</p>
          </div>

          <div
            [ngClass]="{
              'text-red-500': user.active == false,
              'text-green-500': user.active == true
            }"
            class="m-4"
          >
            <i class="fa-solid fa-circle"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>