<section
[ngClass]="{'dark':dark}"
class="border-2 shadow-md grid">
  <div class="bg-red-300 h-96 w-full">
    <img
      class="h-full w-full"
      [src]="propic"
      alt=""
    />
  </div>
  <div class="flex justify-between -mt-14">
    <div class="flex justify-center">
      <div class="w-44 h-44 rounded-full overflow-hidden ml-3 z-20 border-2">
        <img
          class="w-full h-full"
          [src]="propic"
          alt="profile photo loading...."
        />
      </div>

      <a
        [hidden]="!showEdit"
       (click)="addNewPost=true"
        title="edit"
        class="-ml-8 mt-28 z-20"
      >
        <i
          class="fa-solid fa-camera fa-2xl text-blue-500 hover:text-green-400"
        ></i>
      </a>

      <p class="text-2xl text-white font-serif m-3">
        {{ userData.first_name }} {{ userData.last_name }}
      </p>
    </div>
    <div>
      <button
        class="text-white mr-3 font-medium bg-gray-500/60 p-2 rounded-xl hover:border-b-green-500 border-2 hover:translate-x-1 border-transparent hover:border-l-red-500"
      >
        <i class="fa-solid fa-file-image"></i> change Cover
      </button>
    </div>
  </div>
  <div class="-mt-28 bg-white overflow-y-auto pl-10 relative dark:bg-slate-700">
    <div
      class="flex justify-between text-lg font-semibold text-blue-300 mt-4 ml-36"
    >
      <a
        routerLink="timeline"
        [queryParams]="{ username: userData.username }"
        routerLinkActive="border-b-blue-500 text-blue-700"
        class="border-4 border-transparent hover:border-b-blue-500 p-6"
        >Timeline</a
      >
      <a
        routerLink="about"
        [queryParams]="{ username: userData.username }"
        routerLinkActive="border-b-blue-500 text-blue-700"
        class="border-4 border-transparent hover:border-b-blue-500 p-6"
        >About</a
      >
      <a
      *ngIf="showEdit"
        routerLink="friends"
        [queryParams]="{ username: userData.username }"
        routerLinkActive="border-b-blue-500 text-blue-700"
        class="border-4 border-transparent hover:border-b-blue-500 p-6"
        >friends</a
      >
      <a
        routerLink="photos"
        [queryParams]="{ username: userData.username }"
        routerLinkActive="border-b-blue-500 text-blue-700"
        class="border-4 border-transparent hover:border-b-blue-500 p-6"
        >Photos</a
      >
      <button
        *ngIf="showEdit"
        (click)="showUpdates = true"
        title="edit profile"
        class="text-blue-500 mr-3"
      >
        <i class="fa-solid fa-ellipsis fa-lg"></i>
      </button>
    </div>

    <div *ngIf="showUpdates">
      <app-udpateProfile (closeEvent)="closeChild()"></app-udpateProfile>
    </div>
  </div>
</section>
<section class="mt-6">
  <router-outlet></router-outlet>
  <app-create
  *ngIf="addNewPost"
  (close)="addNewPost=false"
  ></app-create>
</section>
