<div class="mb-3">
  <h1 class="text-3xl font-sans text-blue-500 text-center mt-4">
    <i class="fa-brands fa-facebook"></i> FACEBOOK
  </h1>
</div>
<div class="text-center">
  <input
    placeholder="search..."
    class="border-blue-500 border-2 rounded-lg p-2"
    type="text"
  />
</div>

<ul class="p-6">
  <li class="navBar"><i class="fa-solid fa-house mr-3"></i>
    <a routerLink="feeds"> New Feeds</a>
   </li>
  <li class="navBar"><i class="fa-solid fa-user-group mr-3"></i> 
    <a routerLink="friends-req"> friends</a>
  </li>

  <li class="navBar"><i class="fa-solid fa-bell mr-3"></i> Notifications</li>
  <li class="navBar"><i class="fa-solid fa-play mr-3"></i> watch</li>
  <li class="navBar"><i class="fa-solid fa-gear mr-3"></i> settings</li>
  <li class="navBar">
    <i class="fa-solid fa-right-from-bracket mr-3"></i>
    <a 
    (click)="toggleLogin()"
    routerLink="/login">Log out</a>
  </li>
</ul>
