<section class="border-2 shadow-md p-3 bg-white text-blue-500">
    <h2 class="text-lg font-bold mb-3 text-black">About</h2>
    <hr>
    <div class="mt-5 grid">
        
        <div class="flex justify-between border-b p-3">
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-solid fa-graduation-cap fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p>studies at <b>ABC univercity</b></p>

                </div>
            </div>
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-solid fa-location-dot fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p>lives in <b>London</b></p>

                </div>
            </div>
        </div>
        <div class="flex justify-between border-b p-3">
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-solid fa-house fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p>From <b>London</b></p>

                </div>
            </div>
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-solid fa-mobile-screen-button fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p class="font-bold">+47454545675</p>

                </div>
            </div>
        </div>
        <div class="flex justify-between border-b p-3">
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-solid fa-envelope fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p class="font-bold">fdffssdn@gmail.com</p>

                </div>
            </div>
            <div class="flex p-3 justify-evenly">
                <div>
                    <i class="fa-brands fa-instagram fa-2xl"></i>

                </div>
                <div class="ml-3">
                    <p>_tom_David__</p>

                </div>
            </div>
        </div>


    </div>
   
</section>

