<section
  class="bg-white/80 h-screen top-0 bottom-0 left-0 right-0 fixed flex justify-center items-start overflow-auto"
>
  <div class="bg-white w-[440px] p-4 mt-14 shadow-lg">
    <div class="flex justify-between border-b-2 p-2 mb-3">
      <div>
        <h2 class="text-3xl font-bold">Sign Up</h2>
        <p class="text-sm text-gray-400">it's quick and easy.</p>
      </div>

      <a routerLink="../"><i class="fa-solid fa-xmark fa-lg"></i></a>
    </div>
    <form
    [formGroup]="registerForm"
      action="
      "
    >
    <div>
     
        <div class="grid grid-cols-2 gap-2 mb-3">
          <div class="flex">

          <input
          formControlName="first_name"
          [ngClass]="{' border-red-600':registerForm.controls['first_name'].errors?.['required'] && registerForm.controls['first_name'].touched}"

            placeholder="First name"
            class="bg-blue-50 border-2 w-full p-3 mb-4 rounded-md focus:border-blue-500"
            type="text"
          />
          <button
          (click)="showWarning('first Name')"
          class="-ml-6 -mt-3"
          >
            <i 
            *ngIf="registerForm.controls['first_name'].errors?.['required'] && registerForm.controls['first_name'].touched"
            class="fa-solid fa-circle-info  text-red-600"></i>
          </button>
        
        </div>
<div class="flex">
          <input
          formControlName="last_name"
            placeholder="Surname"
            [ngClass]="{' border-red-600':registerForm.controls['last_name'].errors?.['required'] && registerForm.controls['last_name'].touched}"
            class="bg-blue-50 border-2 w-full p-3 mb-4 rounded-md"
            type="text"
          />
          <button
          (click)="showWarning('Last Name')"
          class="-ml-6 -mt-3">
          <i 
          *ngIf="registerForm.controls['last_name'].errors?.['required'] && registerForm.controls['last_name'].touched"

          class="fa-solid fa-circle-info text-red-600"></i>
        </button>
        </div>
        </div>
        <div>
          <input
          formControlName="username"
          [ngClass]="{' border-red-600':registerForm.controls['username'].errors?.['required'] && registerForm.controls['username'].touched}"

            placeholder="User Name"
            class="bg-blue-50 border-2 w-full p-3 mb-4 rounded-md"
            type="text"
          />
          <button
          (click)="showWarning('username')"
          class="-ml-6 -mt-3">
          <i 
          *ngIf="registerForm.controls['username'].errors?.['required'] && registerForm.controls['username'].touched"

          class="fa-solid fa-circle-info text-red-600"></i>
</button>
        </div>
        <div>
          <input
          formControlName="email"
          [ngClass]="{' border-red-600':registerForm.controls['email'].errors?.['required'] && registerForm.controls['email'].touched}"

            placeholder="Mobile number or email address"
            class="bg-blue-50 border-2 w-full p-3 mb-4 rounded-md"
            type="text"
          />
          <button
          (click)="showWarning('email')"
          class="-ml-6 -mt-3">
          <i 
          *ngIf="registerForm.controls['username'].errors?.['required'] && registerForm.controls['username'].touched"

          class="fa-solid fa-circle-info text-red-600"></i>
</button>
        </div>
        <div>
          <input
          formControlName="password"
          [ngClass]="{' border-red-600':registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched}"

            placeholder="New password"
            class="bg-blue-50 border-2 w-full p-3 mb-4 rounded-md"
            type="text"
          />
          <button
          (click)="showWarning('password')"
          class="-ml-6 -mt-3">
          <i 
          *ngIf="registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched"

          class="fa-solid fa-circle-info  text-red-600"></i>
          </button>
        </div>
    </div>
    <label class="text-sm text-gray-400" for="">Date of birth</label>
    <div class="grid grid-cols-3 gap-2 mb-3">
      <select 
      #date
        (change)="updateDob()"

      class="border-2 w-full p-3 mb-4 rounded-md" >
        <option 
        [value]="date"
        *ngFor="let date of dates"  >{{ date }}</option>
      </select>
      <select 
      (change)="updateDob()"
      #month
      class="border-2 w-full p-3 mb-4 rounded-md" >
        <option 
        [value]="month"
        *ngFor="let month of months">{{ month }}</option>
      </select>
      <select 
      (change)="updateDob()"
      #year
      class="border-2 w-full p-3 mb-4 rounded-md" >
        <option 
        [value]="year"
       
        *ngFor="let year of options" >{{ year }}</option>
      </select>
    </div>
    <label class="text-sm text-gray-400" for="">Gender</label>
    <div class="grid grid-cols-2 gap-8 mb-3">
      <div class="border p-2 rounded-mdb flex justify-between">
        <label for="female">Female</label>
        <input 
        formControlName="gender"
        type="radio" value="Female" id="female" name="gender" />
      </div>
      <div class="border p-2 rounded-md flex justify-between">
        <label for="male">Male</label>
        <input 
        formControlName="gender"
        type="radio" name="gender" value="male" id="male" />
      </div>
    </div>
    <div class="text-sm text-blue-70 mt-4 text-slate-400">
      <p>
        People who use our service may have uploaded your contact information to
        Facebook. Learn more.
      </p>
      <p class="mt-3">
        By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies
        Policy. You may receive SMS notifications from us and can opt out at any
        time.
      </p>
    </div>
    <div class="mt-4 mb-4 text-center">
      <button
      [disabled]="!registerForm.valid"
      (click)="submit()"
        class="bg-green-500 text-white text-lg py-2 font-semibold rounded-lg px-16 disabled:cursor-not-allowed disabled:bg-green-300"
      >
        Sign Up
      </button>
    </div>
  </form>
  </div>
</section>
